button {
  padding: 1em 0.75em;
  border: 0;
}
.main-container {
  display: flex;
  text-align: center;
  gap: 1em 4em;
  flex-wrap: wrap;
}

.mark_item {
  background-color: green;
}
.buttons-container {
  display: flex;
  gap: 0.5em;
}
