<main class="main-container">
  <div>
    <p>choose Page</p>
    <div class="buttons-container">
      <ng-container *ngFor="let pagesNumbers of pagesNumbersArray">
        <button
          [class.mark_item]="page === pagesNumbers"
          (click)="choosePage(pagesNumbers)"
        >
          {{ pagesNumbers }}
        </button>
      </ng-container>
    </div>
  </div>
  <div>
    <p>show Amount</p>
    <div class="buttons-container">
      <ng-container *ngFor="let showAmount of SHOW_AMOUNT_LIST">
        <button
          [class.mark_item]="chosenShowAmount === showAmount"
          (click)="chooseShowAmount(showAmount)"
        >
          {{ showAmount }}
        </button>
      </ng-container>
    </div>
  </div>
</main>
