button {
  padding: 1em 0.75em;
  border: 0;
}
.main-container {
  display: flex;
  text-align: center;
  gap: 1em 4em;
  flex-wrap: wrap;
}

.mark_item {
  background-color: #f7d108a6;
}
.buttons-container {
  display: flex;
  gap: 0.5em;
}
.toggletodos-btn {
  min-width: 200px;
  border-radius: 100vw;
}
.action-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 2em;
  align-items: center;
  margin-block: 2em;
}
.add-button {
  width: 60px;
  font-size: 50px;
  border-radius: 100vw;
  border: 0;
  background-color: green;
  color: white;
  text-align: center;
  cursor: pointer;
}
.todos-list {
  margin-block: 2em;
}
.todos-completion-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 2em;
}
