<ng-container *ngIf="loadingTodos; else todosLoaded"
  >LOADING TODOS</ng-container
>
<ng-template #todosLoaded>
  <ng-container *ngIf="todos.length > 0; else emptyTodos">
    <div class="action-menu">
      <div>
        <span>show: </span>
        <button class="toggletodos-btn" (click)="changeTodoState()">
          {{ todosState.msg }}
        </button>
      </div>
      <div class="add-button" [routerLink]="['/addtodo']">+</div>
    </div>
    <div class="todos-completion-info">
      <span>total todos: {{ todos.length }}</span>
      <span>completed todos: {{ completedTodosAmount }}</span>
      <span>uncompleted todos: {{ todos.length - completedTodosAmount }}</span>
    </div>
    <div class="todos-list">
      <ng-container
        *ngFor="
          let todo of todosFilterd
            | slice: (page - 1) * chosenShowAmount:chosenShowAmount * page;
          trackBy: trackByFn
        "
      >
        <app-todo
          [todo]="todo"
          (editTodoStatusEvent)="editTodoStatus($event)"
        ></app-todo>
      </ng-container>
    </div>
    <main class="main-container">
      <div>
        <p>choose Page</p>
        <div class="buttons-container">
          <ng-container *ngFor="let pagesNumbers of pagesNumbersArray">
            <button
              [class.mark_item]="page === pagesNumbers"
              (click)="choosePage(pagesNumbers)"
            >
              {{ pagesNumbers }}
            </button>
          </ng-container>
        </div>
      </div>
      <div>
        <p>show Amount</p>
        <div class="buttons-container">
          <ng-container *ngFor="let showAmount of SHOW_AMOUNT_LIST">
            <button
              [class.mark_item]="chosenShowAmount === showAmount"
              (click)="chooseShowAmount(showAmount)"
            >
              {{ showAmount }}
            </button>
          </ng-container>
        </div>
      </div>
    </main>
  </ng-container>
  <ng-template #emptyTodos>list of todos is empty :(</ng-template>
</ng-template>
