<form [formGroup]="todoForm" (ngSubmit)="submitForm()">
  <div class="form-container">
    <div>
      <label>title:</label>
      <textarea
        class="title-input"
        placeholder="Type something here..."
        formControlName="title"
      ></textarea>
    </div>
    <div>
      <label>is it completed?</label>
      <input type="checkbox" formControlName="completed" />
    </div>
    <button type="submit" class="submit-btn" [disabled]="!todoForm.valid">
      ADD
    </button>
  </div>
  <div>
    <ng-container *ngIf="isAddingTodo">
      <p>Adding todo... this should disapear in a few seconds.</p>
    </ng-container>
    <ng-container *ngIf="showMsg && !isAddingTodo">
      <p>
        todo with the title: <em class="temp-title">"{{ tempTitle }}" </em> was
        added successfully
      </p>
    </ng-container>
  </div>
  <button class="go-back" routerLink="..">Go back</button>
</form>
